@page
@model SchoolHousing.Pages.HouseDetailModel
@{
    var houseDetail = (Housing.HousingModel[])ViewData["HousingDetail"];
}

<!DOCTYPE html>

<div class="text-center">
    <h4 class="display-4">Housing Details in Washington Park Area </h4>

    <table class="table table-striped table-light">
        <thead class="thead-dark">
            <tr>

                <th>Management Company</th>
                <th>Property Phone Number</th>
                <th>Address</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        @{
            foreach (Housing.HousingModel nhouse in houseDetail)
            {
                <tr>

                    <td>@nhouse.ManagementCompany</td>
                    <td>@nhouse.PhoneNumber</td>
                    <td>@nhouse.Address</td>
                    <td>@nhouse.ZipCode</td>
                </tr>
            }
        }

    </table>
</div>

