@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var houseData = (AffordableHouseResponse.AffordableHouse[])ViewData["AffordableHouse"];
    var schoolData = (ElementarySchoolResponse.ElementarySchool[])ViewData["ElementarySchool"];
}
<head>
    <link rel="stylesheet" href="~/css/Styles.css" type="text/css" />
    <link rel="stylesheet" media="Screen and  (max-device-width: 480px)" href="~/css/Mobile.css" type="text/css" />
    <link rel="stylesheet" media="Print" href="~/css/Print.css" type="text/css" />
</head>

<div class="text-center">
    <h1 class="display-4">HNTV Property Rental Agency</h1>
    <h2>Affordable houses and apartments for rent</h2>
    <h4>Find the right home for you!!!</h4>

    <img src="https://www.thebalance.com/thmb/J6uxFxp_r17bwUDKvwb1q_fbwMY=/1784x1250/filters:fill(auto,1)/for-rent-sign-in-front-of-gray-and-white-home-175401842-5a976798eb97de003672509e.jpg" width="400" height="250">
    <p>
        Choose your home from the best houses and apartments in Chicago. Select the best suited home from a variety of options at affordable prices.
    </p>
    <p>
        Select your new home that is closest to a grocery store or the best schools in the locality.
    </p>
</div>

