@page
@model IndexModel
@{
    ViewData["Title"] = "Home";

}


<h1 class="display-4">Affordable Houses near good elementary schools!</h1>
@*List<ElementarySchoolResponse.ElementarySchool> schoolData = (List<ElementarySchoolResponse.ElementarySchool>).ViewData["schoolData"];*@