@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var houseData = (AffordableHouseResponse.AffordableHouse[])ViewData["AffordableHouse"];
    var schoolData = (ElementarySchoolResponse.ElementarySchool[])ViewData["ElementarySchool"];
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
    <meta charset="utf-8" />
    <title>My Profile</title>
    <link rel="stylesheet" href="css/Styles.css" type="text/css" />
    <link rel="stylesheet" media="Screen and  (max-width: 480px)" href="css/Mobile.css" type="text/css" />
    <link rel="stylesheet" media="Print" href="css/Print.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 </head>
<body></body>
</html>
    <h1 class="display-4">HNTV Property Rental Agency</h1>
    <div class="text-center">
        <h2>Affordable houses and apartments for rent</h2>
        <h4>Find the right home for you!!!</h4>

        <img src="https://www.thebalance.com/thmb/J6uxFxp_r17bwUDKvwb1q_fbwMY=/1784x1250/filters:fill(auto,1)/for-rent-sign-in-front-of-gray-and-white-home-175401842-5a976798eb97de003672509e.jpg" width="500" height="300">
        <p>
            Choose your home from the best houses and apartments in Chicago. Select the best suited home from a variety of options at affordable prices.
        </p>
        <p>
            Select your new home that is closest to a grocery store or the best schools in the locality.
        </p>
    </div>

