@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var houseData = (AffordableHouseResponse.AffordableHouse[])ViewData["AffordableHouse"];
    var schoolData = (ElementarySchoolResponse.ElementarySchool[])ViewData["ElementarySchool"];
}
<head>
    <link rel="stylesheet" href="~/css/Styles.css" type="text/css" />
    <link rel="stylesheet" media="Screen and  (max-device-width: 480px)" href="~/css/Mobile.css" type="text/css" />
    <link rel="stylesheet" media="Print" href="~/css/Print.css" type="text/css" />
</head>

<div class="text-center">
    <h1 class="display-4">HNTV Rental Properties</h1>
    <h4>Affordable Houses and Apartments for Rent</h4>
    <p>Here, we find the right home for you.</p>

    <img src="~/img/Rentals.jpg" width="400" height="250" class=".nomobile">
    <p>
        Choose your home from the best houses and apartments in Chicago. Select the best suited home from a variety of options at affordable prices.
    </p>
    <p>
        Select your new Home that is closest to the best schools in the locality.
    </p>
</div>

