@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var schools = (ElementarySchoolResponse.ElementarySchool[])ViewData["ElementarySchool"];
}

<div class="text-center">
    <h1 class="display-4">Affordable Houses near good elementary schools!</h1>
</div>
