@page
@model SchoolHousing.Pages.AffordableHouses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AffordableHouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AffordableHouse.CommunityArea" class="control-label"></label>
                <input asp-for="AffordableHouse.CommunityArea" class="form-control" />
                <span asp-validation-for="AffordableHouse.CommunityArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffordableHouse.PropertyName" class="control-label"></label>
                <input asp-for="AffordableHouse.PropertyName" class="form-control" />
                <span asp-validation-for="AffordableHouse.PropertyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffordableHouse.Address" class="control-label"></label>
                <input asp-for="AffordableHouse.Address" class="form-control" />
                <span asp-validation-for="AffordableHouse.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffordableHouse.ZipCode" class="control-label"></label>
                <input asp-for="AffordableHouse.ZipCode" class="form-control" />
                <span asp-validation-for="AffordableHouse.ZipCode" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AffordableHouse.SchoolId" />
            <div class="form-group">
                <label asp-for="AffordableHouse.NameOfSchool" class="control-label"></label>
                <input asp-for="AffordableHouse.NameOfSchool" class="form-control" />
                <span asp-validation-for="AffordableHouse.NameOfSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffordableHouse.StreetAddress" class="control-label"></label>
                <input asp-for="AffordableHouse.StreetAddress" class="form-control" />
                <span asp-validation-for="AffordableHouse.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffordableHouse.QualityOfFacilities" class="control-label"></label>
                <input asp-for="AffordableHouse.QualityOfFacilities" class="form-control" />
                <span asp-validation-for="AffordableHouse.QualityOfFacilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
