@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">All about me and my team</h1>
    <p>Click the following link to navigate to HTML Page: <a href="/My profile.html">My profile</a></p>
    <p>Click the following link to navigate to Shortcuts XML Page: <a href="/Shortcuts.xml">My team</a></p>
</div>
